.button {
  font-family: "Muli Regular";
  font-size: larger;
  background-color: #fcfbf9;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 8px 24px;
}

.button:hover {
  background-color: black; /* Green */
  color: white;
}

.question {
  font-size: larger;
  font-family: Muli Regular;
}

.question:hover {
  font-weight: bold;
}
